body {
  background-image: url(../public/bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  align-items: center;
  }

  .logo-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 20%;
    padding-bottom: 4%;
  }

  .footer-logo-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 5%;
  }

  .starkware-logo {
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
  }

  .main {
  background: #10141F;
  width: 400px;
  height: auto;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  }

  .sign {
  text-align: center;  
  color: #fff;
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  font-size: 23px;
  }

  .center{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    padding-top: 50px;
    text-align: center;
  }

  .walletButtons {
  align-content: stretch;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 76%;
  height: 6vh !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  letter-spacing: 1px !important;
  border: 1px solid #9945FF !important; 
  background-color:transparent !important;
  padding: 10px 20px !important;
  margin-bottom: 20px !important;
  margin-left: auto !important;
  margin-right: auto !important; 
  text-align: center !important;
  margin-bottom: 27px;
  text-transform: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 400ms ease;
  font-family: 'DM Sans', sans-serif;
  color: #9945FF !important;
  text-decoration: none;
  border-radius: 6px;
  }
  
  .web3auth {
  width: 76%;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  border: 1px solid #9945FF !important; 
  background-color: transparent !important;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 20px;
  text-transform: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 400ms ease;
  font-family: 'DM Sans', sans-serif;
  color: #9945FF;
  text-decoration: none;
  border-radius: 6px;
  height: 6vh !important;
  }

  .signature,.publicKey {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
   width: 76%;
   color: #fff;
   letter-spacing: 1px;
   background: #1A1F2E;
   padding: 10px 20px;
   border: none;
   border-radius: 20px;
   outline: none;
   box-sizing: border-box;
   border: 2px solid rgba(0, 0, 0, 0.02);
   margin-left: 46px;
   text-align: center;
   margin-bottom: 20px;
 }

  .logo {
  width: 30%;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 10px;
  box-sizing: border-box;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 27px;
  text-transform: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 400ms ease;
  font-family: 'DM Sans', sans-serif;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  }

  
  p {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #fff;
  text-decoration: none
  }